*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.header{
    width: 100%;
    height: 100vh;
    background: #1C120B;
}

.side-nav{
    position: absolute;
    width: 200px;
    height: 100%;
    background: #3A3628;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: width o.2s linear;
    box-shadow: 0px 5px 10px #BDA969;
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}

.logo-img{
    width: 200px;
}

.fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-items{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.nav-links{
    list-style: none;
    position: absolute;;
}

.nav-links li{
    padding: 5px 0;
}

.nav-links li a{
    color: #F4A424;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
    color: #F4A424;
}


a:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.login{
    position: relative;
    bottom: 0%;
}

.active{
    background: #FFFFAA;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0.5%;
    z-index: -1;
    border-radius: 6px;
    display: none;
}


.nav-links li:hover{

    text-decoration: underline;
}


/*Footer*/

footer{
    background: #3A3628;
    position:static;
    bottom: 0;
    width: 100%;
}

.footer-distributed{
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 20px 0px 0px;
    margin-top: 1px;
    

}


.footer-distributed .footer-left, .footer-distributed .footer-center , .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed.footer-left{
    width: 25%;
    
}

.footer-left img{
    width: 320px ;
    padding: 0;
}


.footer-center{
    width: 35%;
    padding: 75px 30px 30px 90px;
}

.footer-center i{
    background-color: #1C120B;
    color:#F4A424 ;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px;
    vertical-align: middle;
    
}


.footer-center span{
    display: inline;
    color:#BDA969;
    vertical-align: middle;
    font-size: 14px;
    line-height: 2;
    margin: 0;
   
}


.footer-right{
    padding: 60px 20px;
    width: 40%;
}

.footer-right span{
    display: inline-block;
    color: #F4A424;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-right .footer-company-about{
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    color: #BDA969;
}

.footer-links{
    color: #F4A424;
    margin: 65px 0 12px;
}

.footer-links a{
    display: inline;
    line-height: 1;
    text-decoration: none;
    color:inherit;
    font-size: 12px;
}

.footer-links a:hover{
    color:#1C120B;
}

