

.container-body{
    display: flex;
}



body {
    font-family: Arial, sans-serif;
    background-color:#1C120B;
    text-align: center;
    margin: 0;
  }

  .container {
    width: 300px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 45px rgba(244, 164, 36, 0.3);
    
}
    .user-inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  h1 {
    font-size: 24px;
    margin-bottom: 50px;
    color: #F4A424;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    border: 1px solid #F4A424;
    background-color: #fff;
    border-radius: 20px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #F4A424;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    
  }

  input[type="submit"]:hover {
    background-color: #FFFFAA;
    color:#F4A424;
    font-weight: bolder;
  }

  .signup-link {
    margin-top: 10px;
    color:#FFF;
  }

  .signup-link a{
    color:#F4A424;
  }



